<template name='about'>
    <div id='about_div'>
        <p>
            Satoshi Square was first pitched at the BitcoinNYC Meetup Group. I had grown frustrated with the lack of options
            BitFloor had just shut down, and Mt. Gox was consistently undergoing lag of up to an hour. I figured there had to
            be a better way for people to get access to bitcoins.
        </p>
        <p>
            I never thought this idea was particularly novel, I sarcastically pitched it as a bunch of us getting together
            at the same time, AND at the same place. However, I thought that albeit obvious, it was necessary. The vast majority
            of people are not professional investors, and shouldn't have to go through the onerous hassle of opening a brokerage
            account just to get their first bitcoin.
        </p>
        <p>
            I looked at how most things are bought and sold, what most people are used to and comfortable with, and decided to
            look to history, at the beginnings of Wall Street. I decided to attempt to form an "open outcry" exchange. While
            seemingly anachronistic, this idea was met with great enthusiasm. People really enjoyed the community building aspects
            while also finding that they could gain access to local liquidity in an environment where they felt safe, and comfortable.
        </p>
        <p>
            The press ate this story up, mainly due to the way the narrative was framed. After all, didn't finance in New York start in
            much the same way? This is the next evolution in finance, and while we are not doing everything the same, it pays to learn
            from other people's experiences.
        </p>
        <p>
            Now, this idea has spread far beyond its humble origins, and quicker than I ever imagined. They have launched instances of
            this idea in Berlin, San Francisco, Los Angeles and soon Paris. The New York event has continued to grow, in spite of bad
            weather and locations being moved. I believe that we haven't seen anything yet...
        </p>
    </div>
</template>